html, body {
  height: 500px;
  width: 400px;
}

body {
  overflow: hidden;
}

#left-pane-container {
	padding: 20px;
}

.heading-container {
	width: 100%;
	height: 50px;
	position: relative;
}

.back-button {
	position: absolute;
	left: 0;
	font-size: 18px;
	font-weight: bold;
	color: darkgrey;
}

.back-button:hover {
	cursor: pointer;
	color: lightgrey;
}

#profile-container {
	display: flex;
	justify-content: center;
}

.save-button {
	width: 150px;
}

.row {
	display: flex;
	justify-content: center;
}

.edit-profile {
	font-weight: bold;
	text-align: center;
}

.month-input {
	width: 65px;
}

.day-input {
	width: 65px;
}

.year-input {
	width: 130px;
}
