html, body {
  min-height: 500px;
  width: 440px;
}

body {
  overflow: hidden;
}

#popup-container {
  width: 440px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.heading-container {
	width: 100%;
	height: 50px;
	position: relative;
}

/* Shows Page */
#shows-container {
  width: 400px;
  min-width: 400px;
  height: 500px;
  padding: 20px;
  transition: margin .5s;
}

.app-title-label {
	font-weight: bold;
	text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 25px;
}

.edit-profile-label {
	font-weight: bold;
	text-align: center;
}

#edit-profile {
  position: absolute;
  right: 5px;
  top: 0;
  font-size: 10px;
	font-weight: bold;
  text-align: right;
  color: #666666;
}

#edit-button {
  position: absolute;
  top: -8px;
  right: -15px;
  font-size: 18px;
}

#edit-profile:hover {
  cursor: pointer;
}

#edit-profile:hover #edit-button {
  color: lightgrey;
}

.show-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  margin: 5px;
}

.show-name {
  font-size: 20px;
  margin-bottom: 0;
  font-family: 'Lobster', cursive;
}

#open-selected-button {

}

/* Profile Page */
#profile-container {
  visibility: hidden;
  padding: 20px;
  width: 400px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#back-button {
	position: absolute;
	left: 0;
	font-size: 18px;
	font-weight: bold;
	color: #666666;
}

#notification {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 10px;
	font-weight: bold;
  color: blue;
  transition: opacity .5s ease-in-out;
  width: 80px;
  height: 20px;
  text-align: right;
  opacity: 0;
}

#back-button:hover {
	cursor: pointer;
	color: lightgrey;
}

#save-button {
	width: 150px;
}

.row {
	display: flex;
	justify-content: space-between;
}

/* DOB CSS */
.month-input {
	width: 65px;
}

.day-input {
	width: 65px;
}

.year-input {
	width: 130px;
}

#error-messages {
  text-align: center;
  font-size: 12px;
}
