html, body {
  height: 500px;
  width: 400px;
}

body {
  overflow: hidden;
}

#left-pane-container {
	padding: 20px;
}

#lottery-form-iframe {
  width: 100%;
  height: 100%;
}

.heading-container {
	width: 100%;
	height: 50px;
}

#profile-container {
	display: flex;
	justify-content: center;
}

.back-button {
	float: left;
	transform: scale(.80);
}

.save-button {
	width: 150px;
}

.row {
	display: flex;
	justify-content: center;
}

.edit-profile {
	font-weight: bold;
	margin: 0 0 0 140px;
}

.month-input {
	width: 65px;
}

.day-input {
	width: 65px;
}

.year-input {
	width: 130px;
}
